.Browse{
    background: black;
}
.habbar{
    width: 100%;
    height: 10vh;
    background: aqua;
    border-radius: 0 0 2vh 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.habbar a{
    color: #000 !important;
    text-decoration: none
}
