.Game{
    overflow: hidden;
    width: 95%;
    height: auto;
    background: #f4faf6;
    margin: 10px;
    text-align: center;
    margin: auto;
    border: solid 1px white;
    margin: 4px;
}
.Game img{
    border-radius: 10%;
    width: 170px;
    height: 170px;
}
.Game label{
    font-family: Fantasy, sans-serif;
    font-weight: 300;
    color: black;
}
.game-name{
    float: left;
    margin-left: 20%;
}
.game-price{
    float: right;
    margin-right: 20%;
}

@media screen and (max-width: 768px) {
    .Game img{
        border-radius: 10%;
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 425px) {
    .Game img{
        width: 140px;
        height: 140px;
    }
}
@media screen and (max-width: 375px) {
    .Game img{
        width: 100px;
        height: 100px;
    }
}
