.Game{
    overflow: hidden;
    height: 200px;
    width: 200px;
    background: #808B96;
    margin: 10px;
    text-align: center;

}
.Game img{
    border-radius: 10%;
    width: 150px;
    height: 125px;
    border: 1px solid  black;
}
.Game a{
    text-decoration: none;
    display: block;
    text-align: center;
    width: 150px;
    color: red;
}